body{
	background-image: url(glass-04.jpg);
	background-size: cover; 
}
#title{
	text-align:center;
}
#p1 {
    text-indent: 1rem;
	font-weight: bold;
	color:black;
	background-color: white;
	opacity: 0.9;
}

#rw {
	font-weight: bold;
	color:black;
	background-color: white;
	opacity: 0.9;
}
a.nubex {
	color: #fff;
	/*user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	background-color: none; /* Цвет фона */
	padding: 1em 1em; /* Отступ от текста до рамки */
}